.card-new-transaction{
    position: relative;
    z-index: 30;
    background-color: #f7f7f7;
    margin: 36px auto 0px;
    width: 90%;
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px #8d8d8d;
    max-width: 700px;

}
.new-transaction{
    font-family: 'Raleway', sans-serif;
}
.new-transaction p{
    font-weight: 700;
    font-size: 16px;
    color: #c163b1;
}

.add-icon{
    background-color: #9c0682;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #8d8d8d;
    cursor: pointer;
}

.add-icon img{
    width: 16px;
    filter: invert(99%) sepia(4%) saturate(272%) hue-rotate(182deg) brightness(115%) contrast(94%);
}

.form-new-transaction{
    position: absolute;
    z-index: 28;
    width: 90%;
    padding: 40px 20px;
    margin: -20px auto 0px;
    background-color: #f7f7f7;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 1px 2px #8d8d8d;
    transition: 0.5s;
    height: 280px;
    left: 0;
    right: 0;
}

.form-new-transaction.hidden{
    padding: 0px 20px;
    height: 0px;
}

.form-new-transaction input{
    outline: none;
    padding: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    width: 60%;
    margin-left: 10px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #c7c7c7;
}
.form-new-transaction input[type=number] {
    font-family: 'Lato', sans-serif;
}
.form-new-transaction input:focus{
    border-bottom: 1px solid #9c0682;

}


.form-new-transaction select{
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.357);
    padding: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    width: 60%;
    margin-right: 20px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #c7c7c7;
}

.item-new-transaction{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.item-new-transaction label{
    color: #9c0682;
    font-size: 14px;
}

.modal-container{
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: #0000003c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-errors{
    background-color: #f7f7f7;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.modal-errors p{
    font-weight: 700;
    color: #c70808;
    margin-top: 6px;
}

.btn{
    margin: 10px auto 0;
    padding: 10px 40px;
    border: none;
    background-color: #9c0682;
    color: #f7f7f7;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 1px 2px #5e5959;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.banner-add{
    position: fixed;
    z-index: 300;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    width: 60%;
    background-color: #f7f7f7;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    transition: 0.5s;
}
.card-switch{
    position: relative;
    z-index: 26;
    background-color: #f7f7f7;
    margin: 36px auto 0px;
    width: 90%;
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px #8d8d8d;
    max-width: 700px;
}

.btn.active{
    box-shadow: inset 2px 2px 5px #420337;
    background-color: #85066f;
}

.modal-delete{
    background-color: #f7f7f7;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn.delete{
    background-color: #bd0202;
    margin-right: 20px;
}

.btn.nodelete{
    background-color: #02bd44;
}
.modal-delete p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    color: #4f006d;
    font-weight: 700;
}
.title-desktop{
    display: none;

}
@media (min-width: 700px) {
   .card-new-transaction{
       display: none;
   }
   .form-new-transaction{
    position: relative;
    max-width: 700px;
    margin: 20px auto;
    border-radius:20px;
    height: 300px;
    z-index: 26;
  }
  .form-new-transaction.hidden{
    height: 300px;
    padding: 40px 20px;
    z-index: 26;
    }
    .title-desktop{
        display: block;
        color: #4c0070;
        font-weight: 600;
        margin-top: -20px;
        text-align: center;
        margin-bottom: 10px;
    }
    
.banner-add{
    top: 10px;
    max-width: 200px;
    position: fixed;
    left: auto;
    right: 20px;
}
}