.navbar{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 6px 30px;
    box-shadow: 0px 0px 4px #bba8a8;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7;
}

.icon img{
    width:30px;
    cursor: pointer;
    filter: invert(9%) sepia(79%) saturate(4229%) hue-rotate(278deg) brightness(96%) contrast(126%);
}
.icon.active img{
    filter: invert(11%) sepia(59%) saturate(7357%) hue-rotate(302deg) brightness(89%) contrast(101%);
}
@media (min-width: 700px) {
   .navbar{
       display: none;
   }
}