.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-switch.card-categories{
    z-index: 30;
}

.btn.categories{
    width: 80%;
}
.form-new-transaction.categories-desktop{
    display: none;
}
@media (min-width: 700px) {
   .card-switch.card-categories{
       display: none;
   }
   .form-new-transaction.mobile.hidden,.form-new-transaction.mobile{
       display: none;
   }
   .form-new-transaction.categories-desktop{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    }
    .form-new-transaction.categories-desktop>.categories{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}