.card-balance{
    position: relative;
    z-index: 30;
    background-color: #f7f7f7;
    margin: 36px auto 0px;
    width: 80%;
    display: flex;
    padding: 20px;
    height: 121px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    max-width: 445px;
}
.balance{
    font-family: 'Raleway', sans-serif;
}
.balance p{
    margin-bottom: 10px;
    color: #c163b1;
}
.balance h2{
    font-size: 30px;
    color: #160040;
    font-family: 'Lato', sans-serif;
}
.balance span{
    margin-right: 5px;
    font-size: 20px;
}
.add-icon{
    background-color: #9c0682;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #8d8d8d;
    cursor: pointer;
}
.add-icon img{
    width: 16px;
    filter: invert(99%) sepia(4%) saturate(272%) hue-rotate(182deg) brightness(115%) contrast(94%);
}